.body {
    display:flex;
    flex-direction: row;
}
#k1t {
    margin-top: 80px;
    border-collapse: collapse;
    background-color: rgb(173, 143, 102);
    border-radius: 8px;
    padding: 2vh;
    max-width: 50vh;
    text-align: left;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

#k1c {
    padding: 1vh;
    border-bottom: 1px dotted black;
}

#k1s {
    border-bottom: 1px dotted black;
    padding-left: 4vh;
}

.odev2 {
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgb(6, 67, 146);
    
    background-color: rgba(131, 154, 180, 0.625);

    backdrop-filter: blur(2px);

}
.soru {
    font-weight: 600;
    color: rgb(70, 8, 48);
}

.cevap {
    font-weight: 200;
    color: rgb(102, 22, 85);
    border-bottom: 1px solid rgb(102,22,85);
    margin-bottom: 10px;
}

#odevh3 {
    color: rgb(6, 67, 146);
    /* border: 1px solid rgb(129, 32, 129); */
    /* border-bottom: 4px solid rgb(6, 67, 146); */
    border-radius: 20px;
    text-align: center;
    
    padding: 8px;
    box-shadow: 4px 4px 4px;
    margin-bottom: 20px;
    font-size: large;
}

.datum {
    display: flex;
    justify-content:end;
    color: rgb(70, 16, 37);
    font-weight: 400;
}